.block {
  margin: 0 auto;
  text-align: center;
}

.whiteBlock {
  width: 460px;
}

.input {
  position: relative;
  
  img {
    position: absolute;
    top: 24px;
    left: 45px;
  }
  :nth-child(2) {
    left: 73px;
    opacity: .5;
  }

  ::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  input {
    width: 279px;
    padding-left: 58px;
  }
}

.policyText {
  font-size: 14px !important;
  line-height: 22px !important;
  text-align: center;
  color: #817f7a;
  margin-bottom: 0;
}
